<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <div class="container">
      <h1 class="header">My Simple Github App</h1>
      <form method="post" action="/pull-requests">
        <input type="text" name="url">
        <input type="submit" value="Submit">
      </form>
      <p style="color: grey; font-size: 10px; font-style: italic;">Example URL: https://github.com/username/project</p>
    </div>
  </body>
</html>